.features {
	// .features__inner
	&__inner {
	}
	// .features__list
	&__list {
		display: flex;
		align-items: center;
		gap: 19px;
	}
	// .features__item
	&__item {
		width: 214px;
		text-align: center;
		background-color: #241734;
		padding: 29px 0 28px;
    border-radius: 5px;
	}
	// .features__link
	&__link {
		font-size: 16px;  
		font-weight: 500;
		line-height: 19px;
    text-transform: capitalize;
	}
}
